{:paths   ["src"]
 :deps    {io.pedestal/pedestal.service {:mvn/version "0.5.9"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.9"}
           hiccup/hiccup                {:mvn/version "2.0.0-alpha2"}
           cheshire/cheshire             {:mvn/version "5.10.0"}
           thheller/shadow-cljs         {:mvn/version "2.14.6"}
           reagent/reagent              {:mvn/version "1.1.0"}
           nextjournal/clojure-mode     {:git/url "https://github.com/nextjournal/clojure-mode"
                                         :sha     "d6e08e994c3bc901de9a96a5fdc0b5d38406ebad"}}

 :aliases {:run {:main-opts ["--report" "stderr"
                             "-e" "((requiring-resolve,'clj-br.website))"]}}}
